doctype html
html
	head
		block vars

		if title
			title #{title} - #{site ? site.title : ''}
		else
			title #{site ? site.title : ''}

		meta(name='keywords', content=keywords || site.keywords)
		meta(name='description', content=description || site.description)

		meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
		meta(name='renderer', content='webkit')
		<link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css"/>

	body
		block content
		include lib/footer

	script(type='text/javascript', src='http://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js')

<!--移动端导航-->
	<script type="text/javascript" src="/public/javascripts/jquery.mmenu.all.min.js" charset="utf-8"></script>
<!--slick-->
	<script type="text/javascript" src="/public/javascripts/slick.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="/public/javascripts/wow.js"charset="utf-8"></script>
<!--placeholder-->
	<script type="text/javascript" src="/public/javascripts/jquery.placeholder.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="/public/javascripts/public.js" charset="utf-8"></script>

	block script